.mediaViewInfo {
    --web-view-name: Home - staff;
    --web-view-id: Home_-_staff;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-navigate-on-keypress: true;
    --web-enable-deep-linking: true;
    --web-page-font: Arial;
}
:root {
    --web-view-ids: Home_-_staff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_-_staff {
    position: absolute;
    width: 1920px;
    height: 1080px;
    font-family: Arial;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home - staff;
    --web-view-id: Home_-_staff;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-navigate-on-keypress: true;
    --web-enable-deep-linking: true;
    --web-page-font: Arial;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Logo_lj {
    position: absolute;
    width: 248px;
    height: 120px;
    left: 138px;
    top: 121px;
    overflow: visible;
}
#Online_Asset_Management_lj {
    left: 0px;
    top: 93px;
    position: absolute;
    overflow: visible;
    width: 249px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -23.5px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207,35,56,1);
}
#Logo_lka {
    position: absolute;
    width: 92px;
    height: 93px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#User_list_lj {
    position: absolute;
    width: 867px;
    height: 72.708px;
    left: 549px;
    top: 205.292px;
    overflow: visible;
}
#heading_lj {
    position: absolute;
    width: 649.065px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#type_heading_lka {
    position: absolute;
    width: 131.065px;
    height: 32px;
    left: 518px;
    top: 0px;
    overflow: visible;
}
#Component_10__2237 {
    position: absolute;
    width: 131px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lkc {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lkc {
    position: absolute;
    overflow: visible;
    width: 131px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_lkd {
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_lkd {
    overflow: visible;
    position: absolute;
    width: 130.747px;
    height: 1px;
    left: 0.318px;
    top: 31.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Assigned_Date_lke {
    left: 0px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#name_heading_lkf {
    position: absolute;
    width: 215.007px;
    height: 32px;
    left: 120px;
    top: 0px;
    overflow: visible;
}
#Component_10__2238 {
    position: absolute;
    width: 215px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lkh {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lkh {
    position: absolute;
    overflow: visible;
    width: 215px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_lki {
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_lki {
    overflow: visible;
    position: absolute;
    width: 215.007px;
    height: 1px;
    left: 0px;
    top: 31.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Full_Name_lkj {
    left: 0px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#Staff_code_heading_lkk {
    position: absolute;
    width: 101px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Component_10__2239 {
    position: absolute;
    width: 100px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lkm {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lkm {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_lkn {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_lkn {
    overflow: visible;
    position: absolute;
    width: 100px;
    height: 2px;
    left: 0px;
    top: 31.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Asset_Code_lko {
    left: 1px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#icondropdown_arrowdefault_lkp {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 87px;
    top: 13px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_lkq {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_lkq {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow_lkr {
    fill: rgba(33,37,41,1);
}
.icondropdown_arrow_lkr {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 1px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#icondropdown_arrowdefault_lks {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 629px;
    top: 13px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_lkt {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_lkt {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow_lku {
    fill: rgba(33,37,41,1);
}
.icondropdown_arrow_lku {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 1px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#name_heading_lkv {
    position: absolute;
    width: 147.622px;
    height: 32px;
    left: 353.378px;
    top: 0px;
    overflow: visible;
}
#Component_10__2240 {
    position: absolute;
    width: 147.27px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lkx {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lkx {
    position: absolute;
    overflow: visible;
    width: 147.27px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_lky {
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_lky {
    overflow: visible;
    position: absolute;
    width: 147.622px;
    height: 1px;
    left: 0px;
    top: 31.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Full_Name_lkz {
    left: 0.622px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#row_1_lk {
    position: absolute;
    width: 863px;
    height: 40.708px;
    left: 4px;
    top: 32px;
    overflow: visible;
}
#c14_lk {
    position: absolute;
    width: 129.83px;
    height: 38.708px;
    left: 513px;
    top: 0px;
    overflow: visible;
}
#Component_10__2242 {
    position: absolute;
    width: 129px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lk {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lk {
    position: absolute;
    overflow: visible;
    width: 129px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_lk {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_lk {
    overflow: visible;
    position: absolute;
    width: 129.03px;
    height: 1px;
    left: 0.8px;
    top: 38.708px;
    transform: matrix(1,0,0,1,0,0);
}
#ID07062020_lk {
    left: 0px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#c13_lk {
    position: absolute;
    width: 145.518px;
    height: 38.708px;
    left: 350.232px;
    top: 0px;
    overflow: visible;
}
#Component_10__2243 {
    position: absolute;
    width: 145.265px;
    height: 32px;
    left: 0.252px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lla {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lla {
    position: absolute;
    overflow: visible;
    width: 145.265px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Path_17_lk {
    opacity: 0.5;
    fill: rgba(0,0,0,0);
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17_lk {
    overflow: visible;
    position: absolute;
    width: 145.518px;
    height: 1px;
    left: 0px;
    top: 38.708px;
    transform: matrix(1,0,0,1,0,0);
}
#Personal_Computer_lla {
    left: 1.768px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#c12_llb {
    position: absolute;
    width: 214.521px;
    height: 39.708px;
    left: 120px;
    top: 1px;
    overflow: visible;
}
#Component_10__2244 {
    position: absolute;
    width: 214px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lld {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lld {
    position: absolute;
    overflow: visible;
    width: 214px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Personal_Computer_lle {
    left: 0px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#Line_3_llf {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_llf {
    overflow: visible;
    position: absolute;
    width: 214.521px;
    height: 1px;
    left: 0px;
    top: 39.708px;
    transform: matrix(1,0,0,1,0,0);
}
#c11_llg {
    position: absolute;
    width: 100px;
    height: 40.409px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Component_10__2245 {
    position: absolute;
    width: 100px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_lli {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_lli {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#PC100125_llj {
    left: 0px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#Path_16_llk {
    opacity: 0.5;
    fill: rgba(0,0,0,0);
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_16_llk {
    overflow: visible;
    position: absolute;
    width: 100px;
    height: 1px;
    left: 0px;
    top: 40.409px;
    transform: matrix(1,0,0,1,0,0);
}
#c15_lll {
    position: absolute;
    width: 193px;
    height: 38.708px;
    left: 670px;
    top: 0px;
    overflow: visible;
}
#Component_10__2246 {
    position: absolute;
    width: 193px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_9_lln {
    fill: rgba(255,255,255,1);
}
.Path_9_lln {
    overflow: visible;
    position: absolute;
    width: 192.322px;
    height: 32px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3_llo {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_llo {
    overflow: visible;
    position: absolute;
    width: 192.322px;
    height: 1px;
    left: 0.186px;
    top: 38.708px;
    transform: matrix(1,0,0,1,0,0);
}
#Accepted_llp {
    left: 0px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#icondropdown_arrowdefault_llq {
    position: absolute;
    width: 17px;
    height: 14px;
    left: 424px;
    top: 13px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_llr {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_llr {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow_lls {
    fill: rgba(33,37,41,1);
}
.icondropdown_arrow_lls {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 5px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#My_Assignment_llt {
    left: 546px;
    top: 168px;
    position: absolute;
    overflow: visible;
    width: 147px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -23.5px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207,35,56,1);
}
#icondropdown_arrowdefault_llu {
    position: absolute;
    width: 17px;
    height: 14px;
    left: 758px;
    top: 219px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_llv {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_llv {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow_llw {
    fill: rgba(33,37,41,1);
}
.icondropdown_arrow_llw {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 5px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_96_llx {
    opacity: 0.3;
    position: absolute;
    width: 45.668px;
    height: 14px;
    left: 1450px;
    top: 249px;
    overflow: visible;
}
#iconcheck_lly {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#check_llz {
    fill: rgba(227,12,24,1);
    stroke: rgba(227,12,24,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.check_llz {
    overflow: visible;
    position: absolute;
    width: 15.102px;
    height: 15px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#base_ll {
    fill: transparent;
}
.base_ll {
    position: absolute;
    overflow: visible;
    width: 1px;
    height: 1px;
    left: 1.134px;
    top: 1px;
}
#x-square-fill_ll {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.x-square-fill_ll {
    overflow: visible;
    position: absolute;
    width: 14.628px;
    height: 14.628px;
    left: 33.668px;
    top: 1.499px;
    transform: matrix(1,0,0,1,0,0);
}
#no_asset_heading_ll {
    position: absolute;
    width: 196px;
    height: 32px;
    left: 1220px;
    top: 205px;
    overflow: visible;
}
#Component_10__2265 {
    position: absolute;
    width: 196px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_328_ll {
    fill: rgba(255,255,255,1);
}
.Rectangle_328_ll {
    position: absolute;
    overflow: visible;
    width: 196px;
    height: 32px;
    left: 0px;
    top: 0px;
}
#Line_3_ll {
    fill: transparent;
    stroke: rgba(102,102,102,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3_ll {
    overflow: visible;
    position: absolute;
    width: 194.998px;
    height: 1px;
    left: 0.195px;
    top: 31.5px;
    transform: matrix(1,0,0,1,0,0);
}
#State_ll {
    left: 1px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#arrow-counterclockwise_ll {
    position: absolute;
    width: 12.001px;
    height: 13.716px;
    left: 1515px;
    top: 250px;
    overflow: visible;
    transition: all 0.3s ease-out;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Request_for_returning___staff_create.html;
    cursor: pointer;
}
#Path_19_ll {
    fill: rgba(87,107,227,1);
    stroke: rgba(87,107,227,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_19_ll {
    overflow: visible;
    position: absolute;
    width: 14.227px;
    height: 14.17px;
    left: 0px;
    top: 1.716px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20_ll {
    fill: rgba(87,107,227,1);
    stroke: rgba(87,107,227,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_20_ll {
    overflow: visible;
    position: absolute;
    width: 4.86px;
    height: 6.464px;
    left: 3.141px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#narbav_lma {
    position: absolute;
    width: 1920px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_329_lmb {
    fill: rgba(207,35,56,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_329_lmb {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 72px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrowdefault_lmc {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1750px;
    top: 27px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_lmd {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_lmd {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow_lme {
    fill: rgba(255,255,255,1);
}
.icondropdown_arrow_lme {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 1px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#yentth_lmf {
    left: 1677px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -23.5px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(250,252,252,1);
}
#Home_lmg {
    left: 138px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -23.5px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(250,252,252,1);
}
#Menu_lmh {
    position: absolute;
    width: 262px;
    height: 60px;
    left: 138px;
    top: 275px;
    overflow: visible;
}
#Home_lmi {
    position: absolute;
    width: 262px;
    height: 60px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1_lmj {
    fill: rgba(207,35,56,1);
}
.Path_1_lmj {
    overflow: visible;
    position: absolute;
    width: 262px;
    height: 60px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Home_lmk {
    left: 22px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 58px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -2px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(250,252,252,1);
}
#icondropdown_arrowdefault_lml {
    position: absolute;
    width: 15px;
    height: 14px;
    left: 1267px;
    top: 218px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr_lmm {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr_lmm {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 1px;
    top: 0px;
}
#icondropdown_arrow_lmn {
    fill: rgba(33,37,41,1);
}
.icondropdown_arrow_lmn {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 0px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}