#Change-password {
    margin: 200px auto;
    width: 500px;
    height: 300px;
    overflow: visible;
}

#changepassword-title {
    overflow: visible;
    width: 500px;
    white-space: nowrap;
    background-color: rgba(250, 252, 252, 1);
    border: 1px solid rgba(33, 37, 41, 1);
    border-radius: 5px;
}

#changepassword-title p {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 70px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207, 35, 56, 1);
}

#changepassword-form {
    border: 1px solid rgba(112, 112, 112, 1);
    width: 500px;
    height: 190px;
    padding-top: 20px;
    padding-left: 70px;
}

#changepassword-form label {
    width: 120px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33, 37, 41, 1);
}

#changepassword-form input {
    width: 240px;
    height: 35px;
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#Change-password .changepassword-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

#Change-password .changepassword-btn .cancel-btn {
    width: 68px;
    height: 37px;
    background-color: rgba(250, 252, 252, 1);
    border: 1px solid rgba(33, 37, 41, 1);
    font-weight: bold;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

#Change-password .changepassword-btn .save-btn {
    width: 68px;
    height: 37px;
    background-color: rgba(227,12,24,1);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}


