.mediaViewInfo {
  --web-view-name: OAM Login;
  --web-view-id: OAM_Login;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-navigate-on-keypress: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arial;
}
:root {
  --web-view-ids: OAM_Login;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#OAM_Login {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: OAM Login;
  --web-view-id: OAM_Login;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-navigate-on-keypress: true;
  --web-enable-deep-linking: true;
  --web-page-font: Arial;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Navbar_mjg {
  position: absolute;
  width: 1181px;
  height: 147px;
  left: 556px;
  top: 9px;
  overflow: visible;
}
#Menu_mjh {
  position: absolute;
  width: 269px;
  height: 38px;
  left: 0px;
  top: 109px;
  overflow: visible;
}
#NavbarCreate_mji {
  position: absolute;
  width: 123px;
  height: 38px;
  left: 146px;
  top: 0px;
  overflow: visible;
}
#transparent_mjj {
  fill: transparent;
}
.transparent_mjj {
  position: absolute;
  overflow: visible;
  width: 115px;
  height: 38px;
  left: 4px;
  top: 0px;
}
#Create_user_mjk {
  opacity: 0.7;
  left: 39px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
#NavbarView_mjl {
  position: absolute;
  width: 146px;
  height: 38px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#transparent_mjm {
  fill: transparent;
}
.transparent_mjm {
  position: absolute;
  overflow: visible;
  width: 146px;
  height: 38px;
  left: 0px;
  top: 0px;
}
#View_user_mjn {
  left: 38px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 71px;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
#Dropusername_mjo {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 1067px;
  top: 0px;
  overflow: visible;
}
#transparent_mjp {
  fill: transparent;
}
.transparent_mjp {
  position: absolute;
  overflow: visible;
  width: 114px;
  height: 38px;
  left: 0px;
  top: 0px;
}
#Label_mjq {
  opacity: 0.7;
  left: 5px;
  top: 7px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: center;
  font-family: HelveticaNeue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(250, 252, 252, 1);
}
#icondropdown_arrowdefault_mjr {
  opacity: 0.7;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 91px;
  top: 11px;
  overflow: visible;
}
#DropdownButtonCarotDown_backgr_mjs {
  fill: transparent;
}
.DropdownButtonCarotDown_backgr_mjs {
  position: absolute;
  overflow: visible;
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#icondropdown_arrow_mjt {
  fill: rgba(255, 255, 255, 1);
}
.icondropdown_arrow_mjt {
  overflow: visible;
  position: absolute;
  width: 12px;
  height: 6px;
  left: 1px;
  top: 4px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_329_mju {
  fill: rgba(207, 35, 56, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_329_mju {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 72px;
  left: 0px;
  top: 0px;
}
#Logo_mjv {
  position: absolute;
  width: 385px;
  height: 56px;
  left: 138px;
  top: 10px;
  overflow: visible;
}
#Online_Asset_Management_mjw {
  left: 88px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 298px;
  white-space: nowrap;
  line-height: 67px;
  margin-top: -21.5px;
  text-align: left;
  font-family: Segoe UI, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(250, 250, 250, 1);
}
#Logo_mjx {
  position: absolute;
  width: 55px;
  height: 56px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Login {
  position: absolute;
  width: 465.649px;
  height: 290.959px;
  left: 727.176px;
  top: 233.499px;
  overflow: visible;
}
#header_mjz {
  fill: rgba(239, 241, 245, 1);
  stroke: rgba(33, 37, 41, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.header_mjz {
  position: absolute;
  overflow: visible;
  width: 465.648px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#background_mj {
  fill: rgba(250, 252, 252, 1);
  stroke: rgba(33, 37, 41, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.background_mj {
  overflow: visible;
  position: absolute;
  width: 465.648px;
  height: 228.959px;
  left: 0px;
  top: 62px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Login_btn {
  position: absolute;
  width: 71px;
  height: 37px;
  left: 318.903px;
  top: 206.999px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Home.html;
  cursor: pointer;
}
#Primary__007BFF_mj {
  fill: rgba(227, 12, 24, 1);
}
.Primary__007BFF_mj {
  position: absolute;
  overflow: visible;
  width: 71px;
  height: 37px;
  left: 0px;
  top: 0px;
}
#Login_mj {
  left: 16px;
  top: 9px;
  position: absolute;
  overflow: visible;
  width: 40px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
#PW_mj {
  position: absolute;
  width: 337px;
  height: 35px;
  left: 52.903px;
  top: 145.499px;
  overflow: visible;
}
#Password_ {
  left: 0px;
  top: 9px;
  position: absolute;
  overflow: visible;
  width: 82px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(33, 37, 41, 1);
}
#Rectangle_330_mj {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_330_mj {
  position: absolute;
  overflow: visible;
  width: 219px;
  height: 35px;
  left: 118px;
  top: 0px;
}
#eye-fill_mj {
  position: absolute;
  width: 16px;
  height: 11px;
  left: 312px;
  top: 12.251px;
  overflow: visible;
}
#Path_24_mj {
  fill: rgba(0, 0, 0, 1);
}
.Path_24_mj {
  overflow: visible;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 5.5px;
  top: 3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_25_mj {
  fill: rgba(0, 0, 0, 1);
}
.Path_25_mj {
  overflow: visible;
  position: absolute;
  width: 16px;
  height: 11px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#username {
  position: absolute;
  width: 337px;
  height: 35px;
  left: 52.903px;
  top: 94.499px;
  overflow: visible;
}
#Username_ {
  left: 0px;
  top: 9px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(33, 37, 41, 1);
}
#Rectangle_330_mkc {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_330_mkc {
  position: absolute;
  overflow: visible;
  width: 219px;
  height: 35px;
  left: 118px;
  top: 0px;
}
#Welcome_to_Online_Asset_Manage {
  left: 50px;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 367px;
  white-space: nowrap;
  line-height: 67px;
  margin-top: -23.5px;
  text-align: left;
  font-family: Segoe UI, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(207, 35, 56, 1);
}
