
.table-content {
    width: 52%;
    margin-top: 20px;
    margin-left: 550px;
}

.filter{
    width: 80%;
    margin-top: 40px;
    margin-left: 550px;
}

.filter-state{
    display: inline-block;
}

.filter-category{
    display: inline-block;
}

.search{
    display: inline-block;
}

.create-asset{
    display: inline-block;
}

.filter-state-icon{
    display: inline-block;
    margin-right: 40px;
}

.filter-category-icon{
    display: inline-block;
    margin-right: 40px;
}

.search-icon{
    display: inline-block;
    margin-right: 40px;
}

.title{
    margin-top: 150px;
    margin-left: 550px;
    font-size: 20px;
    color: red;
}

.search input{
    border: 1px solid #000;
    padding-left: 10px;
    font-size: 18px;
}

.paging{
    margin-left: 550px;
    margin-top: 20px;
}

.edit-icon, .delete-icon{
    cursor: pointer;
}

.paging-page {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    text-align: center;
    color: red;
    display: inline-block;
    cursor: pointer;
}

.current-page{
    display: inline-block;
    cursor: pointer;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: red;
}

.paging-page:hover {
    color: white;
    background-color: red;
}

.fail{
    margin-top: 50px;
    margin-left: 550px;
    width: 50%;
}
